/* .contact__wrapper{
    background-color: #242424;
    position: relative;
    left: 50%;
    margin: 0px auto;
    margin-left: -50vw;
    padding-bottom: 50px;
    max-width: 100vw;
} */

.contact__section--wrapper{
    border-top: 1px solid var(--white);
    /* margin: 0 auto; */
    padding-top: 50px;
    max-width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact__section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 125px;
    margin-bottom: 15px;
    padding-bottom: 140px;
    padding-top: 60px;
}

form{
    display: flex;
    flex-direction: column;
}

form input, form textarea{
    border: none;
    outline: none;
    background:none;
    border-bottom: 1px solid var(--white);
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

form input:focus, form textarea:focus{
    border-bottom: 1px solid var(--green);
}

form button{
    align-self: end;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--white);
    padding: 20px 0px;
}

