.header-l, .header-xl, .header-m{
    color: var(--white);
  }

  .header-xl{
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }

  .header-l{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }

  .header-m{
    font-size: 24px;
    line-height: 32px;
  }


.layout{
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 1110px;
}


/* rings */


svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.header__rings{
  position: absolute;
  left: -150px;
  top: 120px;
}

.skills__rings{
  position: absolute;
  right: 20px;
  top: 850px;
}

.footer__rings{
  position: absolute;
  bottom: 200px;
  left: -150px;
}



@media screen and (max-width: 770px){
  /* skills section */
  .layout .skills__section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* contact sectopm */

  .contact__section--wrapper .contact__section{
    grid-template-columns: 1fr;
    width: 75%;
    margin: 0 auto;
  }

  .header__rings{
    left: -350px;
    top: 120px;
  }
  
  .skills__rings{
    display: none;
  }
  
  .footer__rings{
    bottom: 100px;
    left: -350px;
  }
}


@media screen and (max-width: 600px) {

  /* header  section */

 .header .header__main{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    text-align: center;
  }
  
  /* .header__main .header__info{
    display: block;
  } */

  .header__main .header__info h1{
    width: 100%;
    font-size: 40px;
    line-height: 40px;
  }

  .header__main .header__info p{
    width: 100%;
  }

header .header__main img{
    width: 175px;
    height: auto;
    order: -1;
    position: static;
  }

  /* skills secetion */
  .layout .skills__section{
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }

}




